{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                新增任务
            </div>
            <div class="panel-body">
                <form id="addForm">
                    {% for field in form %}
                        <div class="form-group" style="position: relative">
                            <label>{{ field.label }}</label>
                            {{ field }}
                            <span class="error-msg"
                                  style="color: #e01111;position: absolute">{{ field.errors.0 }}</span>
                        </div>
                    {% endfor %}
                    <button id="btnAdd" type="button" class="btn btn-primary">添加</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-default">

            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                任务列表
            </div>
            <div class="panel-body">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>标题</th>
                        <th>详情</th>
                        <th>级别</th>
                        <th>负责人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in page_queryset %}
                        <tr>

                            <th scope="row">{{ obj.id }}</th>
                            <td>{{ obj.title }}</td>
                            <td>{{ obj.detail }}</td>
                            <td>{{ obj.get_level_display }}</td>
                            <td>{{ obj.user.username }}</td>
                            <td>
                                <a href="#" class="btn btn-primary btn-xs">编辑</a>
                                <a href="#" class="btn-danger btn-xs">删除</a>
                            </td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
            <nav aria-label="Page navigation">
            <ul class="pagination">
                {{ page_string }}
            </ul>
        </nav>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(function () {
            //页面框架加载完成后，代码自动执行
            bindAddFormBtnEvent();
        })

        function bindAddFormBtnEvent() {
            $("#btnAdd").click(function () {
                $(".error-msg").empty();
                $.ajax({
                    url: '/task/add/',
                    type: "post",
                    data: $("#addForm").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            alert("添加成功！");
                            location.reload();

                        } else {
                            $.each(res.error, function (name, data) {
                                $("#id_" + name).next().text(data[0]);
                            })
                        }

                    }
                })
            })
        }

    </script>
{% endblock %}